#contenido{
	border: 1px solid rgb(226, 31, 31);
	width: 50%;
	margin:70px auto;
	padding: 15px;
	color: rgb(5, 5, 5)
	
	
}



body{
	/*background-image: url(/proyecto/img/pexels-pixabay-417458.jpg);*/
    background-image: radial-gradient(circle at 50% -20.71%, #8fffff 0, #7ffffb 16.67%, #73f5ec 33.33%, #6cd8d8 50%, #67bbc1 66.67%, #64a3ac 83.33%, #618e98 100%);
    
}
    

.menu{
    list-style: none;
    padding: 0px;
    background-color: #121313;
    width: 100%;
    max-width: 1000%;
    margin:auto;
    border-radius: 10px;
}
    
.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display:inline-block;
   
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background-color: thistle;
}

div{
    text-align: center;
}


#tabla{
    width: 50%;
}



img{
    width: 7%;
    margin-right: 3%;
    border-radius: 100px;
}

#imagen{
    margin-bottom: 0px;
}


    
    
    
    



